<nav class="navbar navbar-light bg-transparent fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white; letter-spacing: 5px;" href="#"><i
        class="fa-solid fa-cloud"></i>Weather-info</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Tools</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Converter</a>
          </li>
        </ul>

        <!-- <input type="number" [(ngModel)]="name" placeholder="Celsius °C"> -->
        <div class="form">
          <input class="input" [(ngModel)]="celsius" placeholder="Celsius °C" required="" type="number">
        </div>
        <button class="conv" (click)="convert()">Convert</button>
        <div class="result " style="margin-top: 15%;">
          <h3>{{kelvin}} K</h3>
          <h3>{{fahren}} °F</h3>
        </div>
      </div>
    </div>
  </div>
</nav>
