<div class="base" style="background-image: url({{background}});" >
  <div class="container">
    <div id="input">
      <input id="bar" [(ngModel)]="name" placeholder="    Search Here" type="text">
      <button id="button" (click)="weatherdata()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

    </div>
    <div class="result" >

      <div class="card">
       <div class="_clouds  align-self-end" >
          <img src="{{pre}}{{icon}}{{post}}" class="card-img-top" alt="">
          <p class="card-text">{{desc}}</p>
       </div>
        <div class="card-body">
          <h5 class="card-title">{{city}}<span>{{space}}{{country}}</span></h5>

          <p>{{sky_status}}</p>
          <p style="font-size: 30px;" class="main ">{{temp}}°C</p>
          <p class="card-text">feels like: {{feels_like}}°C</p>

        </div>
        <div class="group">
          <h6><i class="fa-solid fa-p"></i>
            {{pressure}}Pa</h6>
          <h6>
            <i class="fa-sharp fa-solid fa-droplet"></i>{{humidity}}%
          </h6>
          <h6>
            <i class="fa-solid fa-wind"></i>{{wind}}m/s
          </h6>
        </div>
        <!-- <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div> -->
      </div>

    </div>
  </div>

</div>
